.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.calculator button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5em;
}
